<div>
  <h1>New bookmark</h1>
</div>

<div>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie %>
    <%= f.input :comment %>
    <%= f.submit %>
  <% end %>
</div>

<div>
  <%= link_to "Back to my lists", lists_path %>
</div>
